.datePickerContainer {
    width: 200px;
    padding-left: 28px;
    height: 100px;
    background-color: rgba(124, 124, 124, 0.356);
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}