.addImgBtn {
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 50%;
    transform: translate(-50%);
}

.uploadPreviewContainer {
    border: solid 1px white;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    padding: 75px 25px;
    height: 650px;
    font-size: 30px;
}

.uploaderImageContainer {
    height: 500px;
    margin-bottom: 115px;
}

.uploaderImage {
    max-height: 500px;
    max-width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
}

.textContainer {
    border: 1px solid lightblue;
    height: 50px;
    width: auto;
    position: absolute;
    padding: 10px 20px;
}

.uploaderName {
    margin-left: 350px;
    margin-top: 0px;
    max-width: 950px;
}

.uploaderTime {

}

.uploaderHour {
    float: left; 
    margin-top: 0px;
}

.uploaderMinute {
    float: left;
    margin-top: 0px;
} 