.tasksContainer {
    background-color: rgba(104, 104, 104, 0.151);
    width: 80%;
    margin-left: 5%;
    padding: 5%;
}

.task {
    width: 100px;
    background-color: rgb(99, 99, 99);
    margin: 20px;
}